body {
    text-align:center; 
    color: rgb(255, 230, 0);
}


#div1 {
    width:100%;
    height: 100%;
    display: block;
    border: 3px solid red;
}
img{
    width: 100%;
    height:100%;

}
h1{
    position: absolute;
    top: 0px;
    font-size: 30px;
    display: block;
    
}
h2{
    position: absolute;
    top: 350px;
    font-size: 30px;
    display: block;
}
#div2{
   display: flex;
   justify-content: center;
    width: 80%;
    border: 10px ;
}
#div3{
    width: 33%;
    border: 10px solid black;
    font-size: 80px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#div4{   
    width: 33%;
    border: 10px solid black;
    font-size: 80px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#div5{
    width: 33%;
    border: 10px solid black;
    font-size: 80px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

#text1 {
    line-height: 2em;
}
#text2 {
    line-height: 2em;
}
#text3 {
    line-height: 2em;
}
#pic1{
    height:50%;
    width:70%;
    padding: 0; 
    margin: 0;
    line-height:1em;
}
#pic2{
    height:50%;
    width:70%;
    padding: 0; 
    margin: 0;
    line-height:10em;
}
#pic3{
    height:50%;
    width:70%;
    padding: 0; 
    margin: 0;
    line-height:10em;
}
#pic2{
    height:50%;
    width:70%;
    padding: 0; 
    margin: 0;
    line-height:10em;
}

#text4 {
    line-height: 1em;
    font-size: 0.8em;
}
#text5 {
    line-height: 1em;
    font-size: 0.8em;
}
#text6 {
    line-height: 1em;
    font-size: 0.8em;
}



